<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dev.ck.cltsh.shp.mypage.service.CltMypgMapper">
	<!-- <select id="selectMypgList" resultType="cltMypgDto">
		SELECT ORDB.ORD_NO AS ordNo /*주문번호*/
			, ORDB.RGST_DATE AS rgstDate/*주문일자*/
			, ORDB.ORDR_ID AS ordrId /*주문자 아이디*/
			, ORDB.ORDR_NM AS ordrNm /*주문자 이름*/
			, ORDB.ORDR_PHON AS ordrPhon /*주문자 폰번호*/
			, ORDB.PAY_MNY AS payMny /*결제금액*/
			, GOOD.IMG_PATH AS imgPath /*이미지 경로*/
			, GOOD.IMG_NM AS imgNm /*이미지 이름*/
			, SALE.BUL_TIT_NM AS bulTitNm /*판매게시판 제목*/
			, ORDT.GOODS_QTY AS goodsQty /*수량*/
			, GOOD.GOODS_PRC AS goodsPrc /*상품금액*/
			, ORDB.ORD_STAT AS ordStat /*주문상태코드*/
			, STD004.CODE_NM AS codeNm /*주문상태코드이름*/
			, ORDB.PAY_WAY AS payWay /*결제수단*/
			, GOOD.DLV_PRC AS dlvPrc /*배송비*/
			, ORDB.ACQR_NM AS acqrNm /*수령자 이름*/
			, ORDB.ACQR_PHON AS acqrPhon /*수령자 휴대폰*/
			, ORDB.ACQR_ADDR AS acqrAddr /*수령지 주소*/
			, ORDB.ACQR_ADDR_DTL AS acqrAddrDtl /*수령지 상세 주소*/
			, ORDB.REQ_MEMO AS reqMemo /*배송메모*/
			, SALERVW.SALE_BOARD_RPY_SEQ AS saleBoardRpySeq /*리뷰시퀀스*/
		FROM CLT_ORD_BASE ORDB
			INNER JOIN CLT_ORD_DTL ORDT ON ORDB.ORD_NO = ORDT.ORD_NO
			INNER JOIN CLT_GOODS_INFO GOOD ON ORDT.GOODS_CD = GOOD.GOODS_CD
			INNER JOIN CLT_STD_CD_BASE STD004 ON ORDB.ORD_STAT = STD004.CODE_VAL
			INNER JOIN CLT_SALE_BOARD SALE ON ORDB.SALE_BOARD_SEQ = SALE.SALE_BOARD_SEQ
			LEFT OUTER JOIN CLT_SALE_BOARD_RVW SALERVW ON ORDT.ORD_NO = SALERVW.ORD_NO
		WHERE 1=1
		/* AND ordt.GOODS_CD = sale.GOODS_CD */
		AND STD004.GRP_CD = 'STD004'
		AND ORDB.USR_ID = #{usrId}
		ORDER BY ORDB.ORD_NO DESC;
	</select> -->
	<!-- <select id="selectMypgList" resultType="cltMypgDto">
		SELECT
			ORDB.ORD_NO AS ordNo,
			ORDB.RGST_DATE AS rgstDate,
			ORDB.ORDR_ID AS ordrId,
			ORDB.ORDR_NM AS ordrNm,
			ORDB.ORDR_PHON AS ordrPhon,
			ORDB.PAY_MNY AS payMny,
			GROUP_CONCAT(GOOD.IMG_PATH) AS imgPaths,
			GROUP_CONCAT(GOOD.IMG_NM) AS imgNms,
			GROUP_CONCAT(SALE.BUL_TIT_NM) AS bulTitNms,
			ORDT.GOODS_QTY AS goodsQty,
			GOOD.GOODS_PRC AS goodsPrc,
			ORDB.ORD_STAT AS ordStat,
			STD004.CODE_NM AS codeNm,
			ORDB.PAY_WAY AS payWay,
			GOOD.DLV_PRC AS dlvPrc,
			ORDB.ACQR_NM AS acqrNm,
			ORDB.ACQR_PHON AS acqrPhon,
			ORDB.ACQR_ADDR AS acqrAddr,
			ORDB.ACQR_ADDR_DTL AS acqrAddrDtl,
			ORDB.REQ_MEMO AS reqMemo,
			SALERVW.SALE_BOARD_RPY_SEQ AS saleBoardRpySeq
		FROM CLT_ORD_BASE ORDB
		INNER JOIN CLT_ORD_DTL ORDT ON ORDB.ORD_NO = ORDT.ORD_NO
		INNER JOIN CLT_GOODS_INFO GOOD ON ORDT.GOODS_CD = GOOD.GOODS_CD
		INNER JOIN CLT_STD_CD_BASE STD004 ON ORDB.ORD_STAT = STD004.CODE_VAL
		INNER JOIN CLT_SALE_BOARD SALE ON ORDB.GOODS_CD = SALE.GOODS_CD
		LEFT OUTER JOIN CLT_SALE_BOARD_RVW SALERVW ON ORDT.ORD_NO = SALERVW.ORD_NO
		WHERE 1=1
			AND STD004.GRP_CD = 'STD004'
			AND ORDB.USR_ID = #{usrId}
		GROUP BY
			ORDB.ORD_NO, ORDB.RGST_DATE, ORDB.ORDR_ID, ORDB.ORDR_NM,
			ORDB.ORDR_PHON, ORDB.PAY_MNY, ORDT.GOODS_QTY, GOOD.GOODS_PRC,
			ORDB.ORD_STAT, STD004.CODE_NM, ORDB.PAY_WAY, GOOD.DLV_PRC,
			ORDB.ACQR_NM, ORDB.ACQR_PHON, ORDB.ACQR_ADDR, ORDB.ACQR_ADDR_DTL,
			ORDB.REQ_MEMO, SALERVW.SALE_BOARD_RPY_SEQ
		ORDER BY ORDB.ORD_NO DESC;
	</select -->
	<select id="selectMypgList" resultType="cltMypgDto">
		SELECT
			MAX(ORDB.ORD_NO) AS ordNo, -- ORD_NO가 같은 경우 하나만 출력되도록 MAX 함수 사용
			MAX(ORDB.RGST_DATE) AS rgstDate,
			MAX(ORDB.ORDR_ID) AS ordrId,
			MAX(ORDB.ORDR_NM) AS ordrNm,
			MAX(ORDB.ORDR_PHON) AS ordrPhon,
			MAX(ORDB.PAY_MNY) AS payMny,
			MAX(GOOD.IMG_PATH) AS imgPath,
			MAX(GOOD.IMG_NM) AS imgNm,
			GROUP_CONCAT(DISTINCT SALE.BUL_TIT_NM) AS bulTitNm, -- 여러 건으로 나오도록 GROUP_CONCAT 사용
			MAX(ORDT.GOODS_QTY) AS goodsQty,
			MAX(GOOD.GOODS_PRC) AS goodsPrc,
			MAX(ORDB.ORD_STAT) AS ordStat,
			MAX(STD004.CODE_NM) AS codeNm,
			MAX(ORDB.PAY_WAY) AS payWay,
			MAX(GOOD.DLV_PRC) AS dlvPrc,
			MAX(ORDB.ACQR_NM) AS acqrNm,
			MAX(ORDB.ACQR_PHON) AS acqrPhon,
			MAX(ORDB.ACQR_ADDR) AS acqrAddr,
			MAX(ORDB.ACQR_ADDR_DTL) AS acqrAddrDtl,
			MAX(ORDB.REQ_MEMO) AS reqMemo,
			MAX(SALERVW.SALE_BOARD_RPY_SEQ) AS saleBoardRpySeq
		FROM CLT_ORD_BASE ORDB
		INNER JOIN CLT_ORD_DTL ORDT ON ORDB.ORD_NO = ORDT.ORD_NO
		INNER JOIN CLT_GOODS_INFO GOOD ON ORDT.GOODS_CD = GOOD.GOODS_CD
		INNER JOIN CLT_STD_CD_BASE STD004 ON ORDB.ORD_STAT = STD004.CODE_VAL
		INNER JOIN CLT_SALE_BOARD SALE ON ORDT.GOODS_CD = SALE.GOODS_CD
		LEFT OUTER JOIN CLT_SALE_BOARD_RVW SALERVW ON ORDT.ORD_NO = SALERVW.ORD_NO
		WHERE 1=1
		AND STD004.GRP_CD = 'STD004'
		AND ORDB.USR_ID = #{usrId}
		GROUP BY ORDB.ORD_NO
		ORDER BY ordNo DESC
	</select>
</mapper>