<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dev.ck.cltsh.shp.mypage.service.CltMypgMapper">
	<select id="selectMypgList" resultType="cltMypgDto">
		SELECT
			ORDB.ORD_NO AS ordNo,
			ORDB.ORD_CLM_NO AS ordClmNo,
			ORDB.RGST_DATE AS rgstDate,
			ORDB.ORDR_ID AS ordrId,
			ORDB.ORDR_NM AS ordrNm,
			ORDB.ORDR_PHON AS ordrPhon,
			ORDB.PAY_MNY AS payMny,
			GOOD.IMG_PATH AS imgPath,
			GOOD.IMG_NM AS imgNm,
			GROUP_CONCAT(SALE.BUL_TIT_NM) AS bulTitNm,
			ORDT.GOODS_QTY AS goodsQty,
			GOOD.GOODS_PRC AS goodsPrc,
			ORDT.ORD_DTL_STAT_CD AS ordDtlStatCd,
			STD004.CODE_NM AS codeNm,
			ORDB.PAY_WAY AS payWay,
			GOOD.DLV_PRC AS dlvPrc, 
			ORDB.ACQR_NM AS acqrNm,
			ORDB.ACQR_PHON AS acqrPhon, 
			ORDB.ACQR_ADDR AS acqrAddr, 
			ORDB.ACQR_ADDR_DTL AS acqrAddrDtl,
			ORDB.REQ_MEMO AS reqMemo, 
			SALERVW.SALE_BOARD_RPY_SEQ AS saleBoardRpySeq
		FROM CLT_ORD_BASE ORDB
		INNER JOIN CLT_ORD_DTL ORDT ON ORDB.ORD_CLM_NO = ORDT.ORD_CLM_NO
		INNER JOIN CLT_GOODS_INFO GOOD ON ORDT.GOODS_CD = GOOD.GOODS_CD
		INNER JOIN CLT_STD_CD_BASE STD004 ON ORDT.ORD_DTL_STAT_CD = STD004.CODE_VAL
		INNER JOIN CLT_SALE_BOARD SALE ON ORDT.GOODS_CD = SALE.GOODS_CD
		LEFT OUTER JOIN CLT_SALE_BOARD_RVW SALERVW ON ORDT.ORD_CLM_NO = SALERVW.ORD_CLM_DTL_SN
		WHERE 1=1
		AND STD004.GRP_CD = 'STD004'
		AND ORDB.ORDR_ID = #{usrId}
		GROUP BY ORDB.ORD_NO
		ORDER BY ordNo DESC
	</select>
</mapper>