<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dev.ck.cltsh.shp.mypage.service.CltMypgMapper">
	<select id="selectMypgList" resultType="cltMypgDto">
	/* cltMypgMapper - selectMypgList 마이페이지 리스트 */
		SELECT ORDB.ORD_NO AS ordNo,
			ORDB.ORD_CLM_NO AS ordClmNo,
			ORDB.CLM_SCT_CD AS clmSctCd,
			ORDB.CLM_STAT_CD AS clmStatCd,
			ORDB.RGST_DATE AS rgstDate,
			ORDB.ORDR_ID AS ordrId,
			ORDB.ORDR_NM AS ordrNm,
			ORDB.ORDR_PHON AS ordrPhon,
			ORDB.PAY_MNY AS payMny,
			ORDB.PAY_WAY AS payWay,
			ORDB.ACQR_NM AS acqrNm,
			ORDB.ACQR_PHON AS acqrPhon,
			ORDB.ACQR_ADDR AS acqrAddr,
			ORDB.ACQR_ADDR_DTL AS acqrAddrDtl,
			ORDB.REQ_MEMO AS reqMemo,
			ORDT.GOODS_QTY AS goodsQty,
			ORDT.ORD_DTL_STAT_CD AS ordDtlStatCd,
			ORDT.ORD_CLM_DTL_SN AS ordClmDtlSn,
			GOOD.GOODS_PRC AS goodsPrc,
			GOOD.DLV_PRC AS dlvPrc,
			GOOD.IMG_PATH AS imgPath,
			GOOD.IMG_NM AS imgNm,
			GROUP_CONCAT(SALE.BUL_TIT_NM) AS bulTitNm,
			SALERVW.SALE_BOARD_RPY_SEQ AS saleBoardRpySeq
		FROM CLT_ORD_BASE ORDB
			INNER JOIN CLT_ORD_DTL ORDT ON ORDB.ORD_CLM_NO = ORDT.ORD_CLM_NO
			INNER JOIN CLT_GOODS_INFO GOOD ON ORDT.GOODS_CD = GOOD.GOODS_CD
			LEFT OUTER JOIN CLT_SALE_BOARD SALE ON ORDT.GOODS_CD = SALE.GOODS_CD
			LEFT OUTER JOIN CLT_SALE_BOARD_RVW SALERVW ON ORDT.ORD_CLM_DTL_SN =
			SALERVW.ORD_CLM_DTL_SN
		WHERE ORDB.ORDR_ID = 'marry'
		GROUP BY ORDB.ORD_NO, ORDB.ORD_CLM_NO, ORDB.CLM_SCT_CD, ORDB.CLM_STAT_CD,
			ORDB.RGST_DATE, ORDB.ORDR_ID, ORDB.ORDR_NM, ORDB.ORDR_PHON,
			ORDB.PAY_MNY, ORDB.PAY_WAY, ORDB.ACQR_NM, ORDB.ACQR_PHON,
			ORDB.ACQR_ADDR, ORDB.ACQR_ADDR_DTL, ORDB.REQ_MEMO,
			ORDT.GOODS_QTY, ORDT.ORD_CLM_DTL_SN, GOOD.GOODS_PRC,
			GOOD.DLV_PRC, GOOD.IMG_PATH, GOOD.IMG_NM, SALERVW.SALE_BOARD_RPY_SEQ
		ORDER BY ordNo DESC
	</select>
</mapper>
		<!-- SELECT
			ORDB.ORD_NO AS ordNo,
			ORDB.ORD_CLM_NO AS ordClmNo,
			ORDB.CLM_SCT_CD AS clmSctCd,
			ORDB.CLM_STAT_CD AS clmStatCd,
			ORDB.RGST_DATE AS rgstDate,
			ORDB.ORDR_ID AS ordrId,
			ORDB.ORDR_NM AS ordrNm,
			ORDB.ORDR_PHON AS ordrPhon,
			ORDB.PAY_MNY AS payMny,
			ORDB.PAY_WAY AS payWay,
			ORDB.ACQR_NM AS acqrNm,
			ORDB.ACQR_PHON AS acqrPhon, 
			ORDB.ACQR_ADDR AS acqrAddr, 
			ORDB.ACQR_ADDR_DTL AS acqrAddrDtl,
			ORDB.REQ_MEMO AS reqMemo,
			ORDT.GOODS_QTY AS goodsQty,
			ORDT.ORD_DTL_STAT_CD AS ordDtlStatCd,
			ORDT.ORD_CLM_DTL_SN  AS ordClmDtlSn,
			GOOD.GOODS_PRC AS goodsPrc,
			GOOD.DLV_PRC AS dlvPrc,
			GOOD.IMG_PATH AS imgPath,
			GOOD.IMG_NM AS imgNm,
			GROUP_CONCAT(SALE.BUL_TIT_NM) AS bulTitNm,
			SALERVW.SALE_BOARD_RPY_SEQ AS saleBoardRpySeq
		FROM CLT_ORD_BASE ORDB
		INNER JOIN CLT_ORD_DTL ORDT ON ORDB.ORD_CLM_NO = ORDT.ORD_CLM_NO
		INNER JOIN CLT_GOODS_INFO GOOD ON ORDT.GOODS_CD = GOOD.GOODS_CD
		INNER JOIN CLT_SALE_BOARD SALE ON ORDT.GOODS_CD = SALE.GOODS_CD
		LEFT OUTER JOIN CLT_SALE_BOARD_RVW SALERVW ON ORDT.ORD_CLM_DTL_SN = SALERVW.ORD_CLM_DTL_SN
		WHERE 1=1
		AND ORDB.ORDR_ID = #{usrId}
		GROUP BY ORDB.ORD_NO
		ORDER BY ordNo DESC -->