<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dev.ck.cltsh.shp.payment.service.CltPaymentMapper">
	
	<select id="selectPaymentOne" resultType="cltPaymentDto">
		/* PaymentDao.selectPaymentOne - 결제 1건 */
		SELECT PAY_SN AS paySn
			, ORD_NO AS ordNo
			, ORD_CLM_NO AS ordClmNo
			, ORD_CLM_DTL_SN AS ordClmDtlSn
			, PAY_STATE AS payState 
			, TID AS tid
			, MID AS mid
			, PRICE AS price
			, TIMESTAMP AS timestamp
			, SIGNATURE AS signature
			, VERIFICATION AS verification
			, CURRENCY AS currency
			, GOODS_NM AS goodsNm
			, BUYER_NM AS buyerNm
			, BUYER_TEL AS buyerTel
			, BUYER_EMAIL AS buyerEmail
			, PAYMENT_STATUS AS paymentStatus
			, RGST_DATE AS rgstDate
			, UPDT_DATE AS updtDate
		FROM  CLT_PAYMENT
		WHERE 1=1
		AND TID = #{tid};
	</select>
	
	<select id="selectPaymentList" resultType="cltPaymentDto">
		/* PaymentDao.selectPaymentList - 결제 리스트 */
		SELECT PAY_SN AS paySn
			, ORD_NO AS ordNo
			, ORD_CLM_NO AS ordClmNo
			, ORD_CLM_DTL_SN AS ordClmDtlSn
			, PAY_STATE AS payState 
			, TID AS tid
			, MID AS mid
			, PRICE AS price
			, TIMESTAMP AS timestamp
			, SIGNATURE AS signature
			, VERIFICATION AS verification
			, CURRENCY AS currency
			, GOODS_NM AS goodsNm
			, BUYER_NM AS buyerNm
			, BUYER_TEL AS buyerTel
			, BUYER_EMAIL AS buyerEmail
			, PAYMENT_STATUS AS paymentStatus
			, RGST_DATE AS rgstDate
			, UPDT_DATE AS updtDate
		FROM  CLT_PAY_BASE
		WHERE 1=1;
	</select>

	<insert id="insertPayment">
		/* PaymentDao.insertPayment - 결제 등록 */
		INSERT INTO CLT_PAYMENT 
		( PAY_SN
		, ORD_NO
		, ORD_CLM_NO
		, ORD_CLM_DTL_SN
		, PAY_STATE
		, TID
		, MID
		, OID
		, PRICE
		, TIMESTAMP
		, SIGNATURE
		, VERIFICATION
		, CURRENCY
		, GOODS_NM
		, BUYER_NM
		, BUYER_TEL
		, BUYER_EMAIL
		, PAYMENT_STATUS
		, RGST_DATE
		, UPDT_DATE ) 
		VALUES
		( #{paySn}
		, #{ordNo}
		, #{ordClmNo}
		, #{ordClmDtlSn}
		, #{payState}
		, #{tid}
		, #{mid}
		, #{oid}
		, #{price}
		, #{timestamp}
		, #{signature}
		, #{verification}
		, #{currency}
		, #{goodsNm}
		, #{buyerNm}
		, #{buyerTel}
		, #{buyerEmail}
		, #{paymentStatus}
		, NOW()
		, NULL )
	</insert>

	<select id="ordNoSearch" resultType="cltPaymentDto">
		/* PaymentDao.ordNoSearch */
		SELECT base.ORD_CLM_NO AS ordClmNo,
			dtl.ORD_CLM_DTL_SN AS ordClmDtlSn
		FROM CLT_ORD_BASE base
		JOIN CLT_ORD_DTL dtl  ON base.ORD_CLM_NO = dtl.ORD_CLM_NO
		WHERE 1=1
		AND base.ORD_NO = #{ordNo};
	</select>

</mapper>
