<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dev.ck.cltsh.shp.payment.service.CltPaymentMapper">
	
	<select id="selectPaymentOne" resultType="cltPaymentDto">
		/* PaymentDao.selectPaymentOne - 결제 1건 */
		SELECT PAY_SN AS paySn
			, ORD_NO AS ordNo
			, ORD_CLM_NO AS ordClmNo
			, ORD_CLM_DTL_SN AS ordClmDtlSn
			, PAY_STATE AS payStateCd 
			, TID AS tid
			, MID AS mid
			, GOODS_PRC AS goodsPrc
			, TIMESTAMP AS timestamp
			, SIGNATURE AS signature
			, VERIFICATION AS verification
			, CURRENCY AS currency
			, GOODS_NM AS goodsNm
			, BUYER_NM AS buyerNm
			, BUYER_TEL AS buyerTel
			, BUYER_EMAIL AS buyerEmail
			, PAYMENT_STATUS AS paymentStatus
			, VACT_BANK_NAME AS vactBankName
			, PAY_DEVICE AS payDevice
			, RGST_DATE AS rgstDate
			, UPDT_DATE AS updtDate
		FROM  CLT_PAY_BASE
		WHERE 1=1
		AND TID = #{tid};
	</select>
	
	<select id="selectPaymentList" resultType="cltPaymentDto">
		/* PaymentDao.selectPaymentList - 결제 리스트 */
		SELECT PAY_SN AS paySn
			, ORD_NO AS ordNo
			, ORD_CLM_NO AS ordClmNo
			, ORD_CLM_DTL_SN AS ordClmDtlSn
			, PAY_STATE AS payStateCd 
			, TID AS tid
			, MID AS mid
			, GOODS_PRC AS goodsPrc
			, TIMESTAMP AS timestamp
			, SIGNATURE AS signature
			, VERIFICATION AS verification
			, CURRENCY AS currency
			, GOODS_NM AS goodsNm
			, BUYER_NM AS buyerNm
			, BUYER_TEL AS buyerTel
			, BUYER_EMAIL AS buyerEmail
			, PAYMENT_STATUS AS paymentStatus
			, VACT_BANK_NAME AS vactBankName
			, PAY_DEVICE AS payDevice
			, RGST_DATE AS rgstDate
			, UPDT_DATE AS updtDate
		FROM  CLT_PAY_BASE
		WHERE 1=1;
	</select>

	<insert id="insertPayment" useGeneratedKeys="true" keyProperty="paySn">
		/* PaymentDao.insertPayment - 결제 등록 */
		INSERT INTO CLT_PAY_BASE
		( ORD_NO
		, ORD_CLM_NO
		, PAY_STATE_CD
		, TID
		, MID
		, TIMESTAMP
		, SIGNATURE
		, VERIFICATION
		, CURRENCY
		, BUYER_NM
		, BUYER_TEL
		, BUYER_EMAIL
		, VACT_BANK_NAME
		, PAY_DEVICE
		, RGST_DATE
		, UPDT_DATE ) 
		VALUES
		( #{ordNo}
		, #{ordClmNo}
		, #{payStateCd}
		, #{tid}
		, #{mid}
		, #{timestamp}
		, #{signature}
		, #{verification}
		, #{currency}
		, #{buyerNm}
		, #{buyerTel}
		, #{buyerEmail}
		, #{vactBankName}
		, #{payDevice}
		, NOW()
		, NULL )
	</insert>

	<select id="ordNoSearch" resultType="cltPaymentDto">
		/* PaymentDao.ordNoSearch */
		SELECT base.ORD_CLM_NO AS ordClmNo,
			dtl.ORD_CLM_DTL_SN AS ordClmDtlSn
		FROM CLT_ORD_BASE base
		JOIN CLT_ORD_DTL dtl  ON base.ORD_CLM_NO = dtl.ORD_CLM_NO
		WHERE 1=1
		AND base.ORD_NO = #{ordNo};
	</select>
	
	<select id="selectPayDtlInfoOne" resultType="cltPaymentDto">
		/* PaymentDao.selectPayDtlInfoOne - 결제 상세 1건 */
		SELECT PAY_DTL_INFO_SEQ AS payDtlInfoSeq
			, PAY_SN AS paySn
			, ORD_NO AS ordNo
			, ORD_CLM_DTL_SN AS ordClmDtlSn
			, GOODS_NM AS goodsNm
			, GOODS_PRC AS goodsPrc
			, PAYMETHOD AS paymethod
			, RGST_DATE AS rgstDate
		FROM  CLT_PAY_DTL_INFO
		WHERE 1=1
		AND TID = #{payDtlInfoSeq};
	</select>
	
	<select id="selectPayDtlInfoList" resultType="cltPaymentDto">
		/* PaymentDao.selectPayDtlInfoList - 결제 상세 리스트 */
		SELECT PAY_DTL_INFO_SEQ AS payDtlInfoSeq
			, PAY_SN AS paySn
			, ORD_NO AS ordNo
			, ORD_CLM_DTL_SN AS ordClmDtlSn
			, GOODS_NM AS goodsNm
			, GOODS_PRC AS goodsPrc
			, PAYMETHOD AS paymethod
			, RGST_DATE AS rgstDate
		FROM  CLT_PAY_DTL_INFO
		WHERE 1=1;
	</select>

	<insert id="insertPayDtlInfo">
		/* PaymentDao.insertPayDtlInfo - 결제 상세 등록 */
		INSERT INTO CLT_PAY_DTL_INFO 
		( PAY_SN
		, ORD_NO
		, ORD_CLM_DTL_SN
		, GOODS_NM
		, GOODS_PRC
		, PAYMETHOD
		, RGST_DATE )
		VALUES
		( #{paySn}
		, #{ordNo}
		, #{ordClmDtlSn}
		, #{goodsNm}
		, #{goodsPrc}
		, #{paymethod}
		, NOW())
	</insert>

</mapper>
